/***
* Methods Paymento Sprite SVG
* Info -> dimensions size each symbol 58px / 46px
* Info -> dimensions size each symbol 56px / 44px
* Info -> dimensions size each symbol 54px / 43px
* Info -> dimensions size each symbol 52px / 41px
* ---------------------
* Info -> dimensions size artefato 248px / 254px
* Info -> dimensions size artefato 240px / 246px
* Info -> dimensions size artefato 232px / 237px
* Info -> dimensions size artefato 224px / 229px
*/
.method > div {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0; }
  .method > div h5 {
    text-indent: -9999em; }
.method .item-method {
  width: 52px;
  height: 42px;
  position: relative; }
  .method .item-method:hover:before, .method .item-method:hover:after {
    opacity: 1;
    visibility: visible; }
  .method .item-method:before {
    content: attr(data-method);
    background: #c90008;
    border-radius: 20px;
    color: #f1f1f1;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-shadow: -1px -1px #111;
    white-space: nowrap;
    padding: 4px 19px;
    min-width: 60px;
    position: absolute;
    left: 0;
    bottom: -28px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden; }
  .method .item-method:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    border-bottom: 7px solid #c90008;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 86%;
    left: 50%;
    opacity: 0;
    visibility: hidden; }
.method .visa {
  background: url("vector/payment.svg") no-repeat 0 0; }
.method .master {
  background: url("vector/payment.svg") no-repeat -56px 0; }
.method .amex {
  background: url("vector/payment.svg") no-repeat -114px 0; }
.method .diners {
  background: url("vector/payment.svg") no-repeat -172px 0; }
.method .itau {
  background: url("vector/payment.svg") no-repeat 0 -46px; }
.method .bradesco {
  background: url("vector/payment.svg") no-repeat -57px -46px; }
.method .bb {
  background: url("vector/payment.svg") no-repeat -114px -46px; }
.method .hsbc {
  background: url("vector/payment.svg") no-repeat -172px -46px; }
.method .elo {
  background: url("vector/payment.svg") no-repeat 0 -93px; }
.method .aura {
  background: url("vector/payment.svg") no-repeat -57px -93px; }
.method .hipercard {
  background: url("vector/payment.svg") no-repeat -114px -93px; }
.method .pageseguro {
  background: url("vector/payment.svg") no-repeat -172px -93px; }
.method .banrisul {
  background: url("vector/payment.svg") no-repeat 0 -140px; }
.method .boleto {
  background: url("vector/payment.svg") no-repeat -57px -140px; }
.method .bcash {
  background: url("vector/payment.svg") no-repeat -114px -140px; }
.method .mercadopago {
  background: url("vector/payment.svg") no-repeat -172px -140px; }
.method .deposito {
  background: url("vector/payment.svg") no-repeat 0 -188px; }
.method .hiper {
  background: url("vector/payment.svg") no-repeat -57px -188px; }
.method .traycheckout {
  background: url("vector/payment.svg") no-repeat -115px -188px; }
.method .paypal {
  background: url("vector/payment.svg") no-repeat -172px -188px; }

/*# sourceMappingURL=method.css.map */
